.favorite_wrap {
    .favorite_area {
        display:flex;
        flex-direction: row;
        align-items:center;
        .amount {
            color: var(--color-neutral-300);
            font-size:13px;
            text-align:center;
        }
    }
    &.mate {
        .favorite_area {
            .amount {
                line-height:40px;
            }
        }
    }
}