.modal_wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .contents {
        width: 409px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 102;
        font-family: 'Pretendard';
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-sizing: border-box;
        .modal_header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-neutral-700);
            margin-bottom: 24px;
            .title {
                font-family: 'Pretendard';
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                padding-bottom: 20px;
                color: var(--color-neutral-100);
                .btn.close {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
    &.program_intro {
        .contents {
        }
    }
    // 문의 작성하기
    &.qna {
        .contents {
            .input_area {
                width: 100%;
                position: relative;
                padding-bottom: 8px;
                .input_textbox {
                    width: 100%;
                    height: 135px;
                    overflow-y: auto;
                    box-sizing: border-box;
                }
                .placeholder {
                    position: absolute;
                    left: 16px;
                    top: 16px;
                    font-family: 'Pretendard';
                    font-size: 14px;
                    line-height: 22px;
                    color: var(--color-neutral-500);
                }
            }
            .input_checkbox {
                margin-bottom: 8px;
                .ico.checkbox {
                    padding-left: 24px;
                }
            }
            .infobox {
                margin-bottom: 16px;
                color: var(--color-neutral-400);
                font-size: 12px;
                line-height: 20px;
            }
            .btn_area {
                .btn.submit {
                    &::after {
                        display: none;
                    }
                    width: 100%;
                    border-radius: 8px;
                    padding: 12px 0;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
        &.mobile {
            .contents {
                width: 100%;
                position: fixed;
                bottom: 0;
                top: auto;
                left: 0;
                transform: none;
                padding-left: 0;
                padding-right: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                .modal_header {
                    padding: 0 20px;
                    box-sizing: border-box;
                }
                .modal_body {
                    padding: 0 20px;
                }
            }
        }
    }
    // 리뷰 작성하기
    &.review {
        &.mobile {
            .contents {
                width: 100%;
                top:auto;
                transform:translateX(-50%);
                bottom:0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                padding:16px 20px 20px;
                .modal_header {
                    margin-bottom:16px;
                    .title {
                        padding-bottom:16px;
                    }
                }
            }
        }
    }
    // 공유하기
    &.share {
        .contents {
            width: 300px;
            ul {
                display: flex;
                flex-direction: row;
                li {
                    flex: 1;
                    .ico {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &.sorting {        
        &.mobile {
            .contents {
                width: 100%;
                top:auto;
                transform:translateX(-50%);
                bottom:0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                padding:16px 20px 20px;
                .modal_header {
                    margin-bottom:16px;
                    .title {
                        padding-bottom:16px;
                    }
                }
            }
        }
        .contents {
            .select_wrap {
                border:none;
                .select_options {
                    border:none;
                    box-shadow: none;
                    position:static;
                    li {
                        position:relative;
                    }
                    .option {
                        padding-left:32px;
                    }
                    .ico.radio {
                        position:absolute;
                        left:10px;
                        top:8px;
                    }
                }
            }
        }
    }
}

.popup_wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .contents {
        width: 290px;
        background-color: #fff;
        border-radius: 8px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 102;
        font-family: 'Pretendard';
        .popup_body {
            padding: 32px 24px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: var(--color-neutral-100);
            border-bottom: 1px solid var(--color-neutral-700);
        }
        .popup_footer {
            display: flex;
            flex-direction: row;
            text-align: center;
            .btn {
                flex: 1;
                cursor: pointer;
                padding: 11px 0;
                line-height: 22px;
                font-weight: 600;
                font-size: 14px;
                color: var(--color-neutral-100);
                &.confirm {
                    color: var(--color-primary-600);
                    border-left: 1px solid var(--color-neutral-700);
                }
            }
        }
    }
}
