.program_comp {
    .img_area {
        width:360px; 
        height:200px;
        background-color: var(--color-neutral-200);
        border-radius:16px;
        overflow:hidden;
        margin-bottom:16px;
        position:relative;
        cursor:pointer;
        .favorite_area {
            position:absolute;
            right:8px;
            top:8px;
        }
    }
    .desc_area {
        width:360px;
        cursor:pointer;
        .txt_area {
            padding-right:20px;
            h4 {
                color: var(--color-neutral-100);
                margin-bottom:12px;
                & > span {
                    display:inline-block;
                    cursor:pointer;
                }
            }
            p {
                color:#787878;
                font-size:14px;
                line-height:20px;
                & > span {
                    display:inline-block;
                    cursor:pointer;
                }
            }
            .where {
                cursor:pointer;
                color: var(--color-neutral-300);
                font-size:14px;
                margin-bottom:12px;
            }
        }
    }
    .bottom_area {
        width:360px;
        border-top:1px solid var(--color-neutral-600);
        margin-top:16px;
        padding-top:16px;
        .badge_where_area {
            display:flex;
            flex-direction:row;
            justify-content:space-between;
        }
        .badge {
            display:inline-block;
            padding:5px 8px;
            background-color: var(--color-neutral-700);
            color: var(--color-neutral-900);
            border-radius:8px;
            margin-right:5px;
            font-size:13px;
            font-weight:700;
            &.outgoing {
                color:#444;
            }
            &.best {
                color:var(--color-secondary-400);
            }
            &.like {
                color:var(--color-primary-400);
            }
        }
        .price_area {
            font-size:18px;
            line-height:27px;
            margin-bottom:16px;
            font-weight:700;
            color: var(--color-neutral-300);
            .unit {
                margin-right:5px;
            }
        }
    }
    
    &.details {
        max-width:744px;
        margin:0 auto;
        margin-bottom:50px;
        position:relative;
        .img_area {
            width:100%;
            height:400px;
            margin-bottom:32px;
        }
        .desc_area {
            width:100%;
            justify-content: space-between;
            .txt_area {
                padding-right:0;
                margin-bottom:24px;
                h4 {
                    & > span {
                        font-size:28px;
                        font-weight:700;
                        font-family:'Montserrat';
                        color: var(--color-neutral-100);
                        cursor:default;
                    }
                }
                p {
                    & > span {
                        font-size:16px;
                        line-height:24px;
                        color: var(--color-neutral-300);
                        cursor:default;
                    }
                }
            }
            .where_price_area {
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                .where_area {
                    padding-left:22px;
                    line-height:20px;
                    position:relative;
                    font-size:14px;
                    font-weight:500;
                    color: var(--color-neutral-400);
                    &::before {
                        content:'';
                        display:block;
                        width:16px;
                        height:16px;
                        background-image:url('/assets/images/icon/ico_location.png');
                        background-repeat:no-repeat;
                        background-size:100%;
                        position:absolute;
                        left:0;
                        top:0;
                    }
                }
                .price_area {
                    padding-top:0;
                    font-size:20px;
                    font-weight:700;
                    .unit {
                        margin-right:4px;
                    }
                }
            }
        }
        .bottom_area {
            width:100%;
            .badge_where_area {
                position:absolute;
                left:24px;
                top:24px;
            }
        }
        .price_area {
            padding-top:38px;
        }
        .favorite_share_area {
            display:flex;
            flex-direction:row;
            justify-content:flex-end;
            .favorite_area {
                margin-right:14px;
                .btn.img.heart {
                    width:24px;
                    height:24px;
                    background-image:url('/assets/images/btn/btn_heart_gray_line.png');
                }
            }
        }
    }
}