.program_comp {
    .img_area {
        width:100%;
        height:414px;
        background-repeat:no-repeat;
        background-size:100%;
        background-position: center top;
        border-radius:16px;
        overflow:hidden;
        margin-bottom:12px;
        position:relative;
        cursor:pointer;
        .favorite_area {
            position:absolute;
            right:8px;
            top:8px;
        }
    }
    .desc_area {
        cursor:pointer;
        .txt_area {
            padding-right:20px;
            h4 {
                color: var(--color-neutral-100);
                margin-bottom:8px;
                display: block;
                cursor:pointer;
            }
            p {
                color:#787878;
                font-size:14px;
                line-height:20px;
                & > span {
                    display:inline-block;
                    cursor:pointer;
                }
            }
            .where {
                cursor:pointer;
                color: var(--color-neutral-400);
                font-size:12px;
                line-height:16px;
                margin-bottom:6px;
            }
        }
        .favorite_num_wrap {
            padding-bottom:6px;
        }
    }
    .bottom_area {
        width:260px;
        .category_badge_area {
            display:flex;
            flex-direction:row;
            justify-content:space-between;
        }
        .badge {
            display:inline-block;
            padding:5px 8px;
            background-color: var(--color-neutral-200);
            color: #fff;
            border-radius:8px;
            margin-right:5px;
            font-size:13px;
            font-weight:600;
        }
        .price_area {
            font-size:18px;
            line-height:27px;
            margin-bottom:16px;
            font-weight:700;
            color: var(--color-neutral-300);
            .unit {
                margin-right:5px;
            }
        }
    }

    &.element {
        .img_area {
            width:260px;
            height:152px;
        }
        .desc_area {
            width:260px;
            h4 {
                font-size:14px;
                line-height:22px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 3em; /* 폰트 크기에 맞게 조정 */
                margin-bottom:6px;
            }
            .where_favorite_area {
                margin-bottom:6px;
                .where_area {
                    display:none;
                }
            }
        }
        .bottom_area {
            .price_area, .price_area > * {
                font-size:14px;
                line-height:22px;
                color:var(--color-neutral-300);
            }
            .badge {
                font-size:11px;
                font-weight:500;
                background-color: var(--color-neutral-700);
                color:var(--color-neutral-300);
            }
        }
    }
    
    &.details {
        max-width:744px;
        margin:0 auto;
        margin-bottom:24px;
        position:relative;
        .img_area {
            width:100%;
            height:400px;
            margin-bottom:32px;
        }
        .desc_area {
            width:100%;
            justify-content: space-between;
            cursor:default;
            .txt_area {
                padding-right:0;
                margin-bottom:12px;
                h4 {
                    font-size:24px;
                    font-weight:700;
                    font-family:'Montserrat';
                    line-height:32px;
                    color: var(--color-neutral-100);
                    cursor:default;
                    display:block;
                    overflow:visible;
                }
                p {
                    & > span {
                        font-size:16px;
                        line-height:24px;
                        color: var(--color-neutral-300);
                        cursor:default;
                    }
                }
                .where {
                    color: var(--color-neutral-300);
                    font-size:14px;
                    margin-bottom:12px;
                }
            }
            .price_area, .price_area > * {
                padding-top:0;
                font-size:18px;
                font-weight:600;
                margin-bottom:12px;
                color:var(--color-neutral-200);
                .unit {
                    margin-right:4px;
                }
            }
            .where_favorite_area {
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                .where_area {
                    padding-left:26px;
                    line-height:24px;
                    position:relative;
                    font-size:14px;
                    font-weight:500;
                    color: var(--color-neutral-400);
                    &::before {
                        content:'';
                        display:block;
                        width:20px;
                        height:20px;
                        background-image:url('/assets/images/icon/ico_location_gray.png');
                        background-repeat:no-repeat;
                        background-size:100%;
                        position:absolute;
                        left:0;
                        top:50%;
                        transform:translateY(-50%);
                    }
                }
                .favorite_share_area {
                    display:flex;
                    flex-direction:row;
                    justify-content:flex-end;
                    align-items: center;
                    .favorite_area {
                        margin-right:24px;
                        .btn.img.heart {
                            width:24px;
                            height:24px;
                            background-image:url('/assets/images/btn/btn_heart_gray_line.png');
                            &.filled {
                                background-image:url('/assets/images/btn/btn_heart_filled.png');
                            }
                        }
                    }
                }
            }
        }
        .bottom_area {
            width:100%;
            .category_badge_area {
                position:absolute;
                left:24px;
                top:24px;
            }
        }
        .price_area {
            padding-top:38px;
        }
    }
    &.mobile {
        &.element {
            .img_area {
                width:100%;
                height:124px;
                background-size:cover;
                .favorite_wrap.md .btn.img.heart {
                    width:24px;
                    height:24px;
                }
            }
            .desc_area {
                width:100%;
                .txt_area {
                    padding-right:0;
                }
                .where_favorite_area {
                    margin-bottom:4px;
                }
            }
            .bottom_area {
                width:100%;
                .category_badge_area {
                    margin-bottom:24px;
                }
                .badge {
                    margin-bottom:4px;
                }
            }
        }
    }
}

.item {
    padding:20px 24px;
    border-radius:16px;
    margin-bottom:16px;
    background-color:#fff;
    border:1px solid var(--color-neutral-700);
    box-shadow: 0px 0px 8px 0px #55555514;
    box-shadow: 0px 0px 24px 0px #C2C2C214;
    .payment_status_area {
        padding-bottom:12px;
        margin-bottom:12px;
        border-bottom:1px solid var(--color-neutral-700);
        font-size: 14px;
        line-height:22px;
        font-weight:600;
        color:var(--color-neutral-100);
        .payment_date {
            margin-left:8px;
            font-weight:500;
            font-size:14px;
            line-height:22px;
            color:var(--color-neutral-300);
        }
    }
    .item_area {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }
    .item_desc_area {
        width:100%;
        flex:1;
        display:flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .img_area {
        width:130px;
        height:102px;
        background-color:#ddd;
        border-radius:12px;
        margin-right:16px;
        flex-shrink: 0;
        background-size:cover;
    }
    .text_area {
        width:100%;
        max-width: calc(100% - 88px);
    }
    .program_state {
        margin-bottom:4px;
        .approve_status {
            margin-right:4px;
            &::first-letter {
                text-transform: uppercase;
              }
        }
        .date {
            font-family:'Pretendard';
            font-weight:400;
            font-size:13px;
            line-height:20px;
            color:var(--color-neutral-500);
        }
    }
    .program_name {
        width:394px;
        margin-bottom:4px;
        font-family:'Pretendard';
        font-weight:600;
        font-size:14px;
        line-height:22px;
        color:var(--color-neutral-100);
    }
    .program_date {
        font-family:'Pretendard';
        font-weight:500;
        font-size:12px;
        line-height:20px;
        margin-bottom:8px;
        color:var(--color-neutral-400);
    }
    .program_place {
        .ico.location {
            padding-left:16px;
            font-family:'Pretendard';
            font-weight:500;
            font-size:12px;
            line-height:20px;
            color:var(--color-neutral-300);
            &::before {
                width:12px;
                height:16px;
                right:auto;
                left:0;
                top:2px;
            }
        }
    }
    .btn_area {
        display:flex;
        flex-direction: row;
        align-items: center;        
    }
    .btn_wrapper {
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .btn {
        border-radius:8px;
        line-height:22px;
        &.blue {
            display:inline-block;
            width:120px;
            text-align:right;
            margin-right:32px;
            font-family:'Pretendard';
            font-size:13px;
            line-height:22px;
            color:var(--color-primary-600);
            padding-right:12px;
            &.review {
                width:140px;
                margin-right:0;
                padding:10px 10px;
                text-align:center;
                color:var(--color-primary-500);
                font-weight:500;
            }
            &.right_arrow {
                width:fit-content;
                text-align:left;
                padding-right:16px;
            }
        }
        &.cancel {
            width:140px;
            box-sizing: border-box;
            font-weight:500;
            padding:10px 10px;
            border-radius:8px;
        }
    }
    &.mobile {
        width:100%;
        box-sizing: border-box;
        flex-direction: column;
        padding:16px;
        .item_area {
            flex-direction: column;
        }
        .img_area {
            width:72px;
            height:60px;
        }
        .text_area {
            width:100%;
            flex-grow: 1;
        }
        .program_name {
            width:100%;
        }
        .program_state {
            .approve_status {
                font-size:11px;
                line-height:14px;
            }
        }
        .program_date {
            margin-bottom:4px;
        }
        .program_place {
            margin-bottom:8px;
        }
        .btn_wrapper {
            width:100%;
            flex-direction: column;
            align-items: flex-start;
        }
        .btn_area {
            width:100%;
            margin-top:16px;
            flex-direction: column;
            align-items: flex-start;
            .btn {
                &.wide {
                    width:100%;
                }
            }
        }
        .btn {
            &.right_arrow {
                text-align:left;
                margin-left:88px;
                margin-right:0;
                padding-right:16px;
            }
        }
    }
}

.info_of_program {
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    top:0;
    z-index:100;
    .bg {
        background-color:rgba(0, 0, 0, 0.5);
        position:absolute;
        left:0;
        bottom:0;
        right:0;
        top:0;
    }
    .info_of_program_inner {
        width:450px;
        padding:0 20px 20px;
        box-sizing: border-box;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        border-radius:8px;
        background-color:#fff;
        .info_of_program_title {
            padding:16px 0;               
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom:16px;
            border-bottom:1px solid var(--color-neutral-700);
            h2 {
                line-height:24px;
                font-size:18px;
                font-weight:600;

            }
        }
        .info_of_program_content_item {  
            padding-bottom:16px;
            margin-bottom:16px;
            border-bottom:1px solid var(--color-neutral-700);
            .info_of_program_content_item_title {
                font-size: 14px;
                font-weight:600;
                color:var(--color-neutral-100);
                line-height:22px;
                margin-bottom:8px;
            }
            .info_of_program_content_item_content {
                .info_of_program_content_item_content_title  {
                    padding-right:0;
                    padding-left:18px;
                    line-height:18px;
                    font-size:13px;
                    &::before {
                        width:16px;
                        height:16px;
                        right:auto;
                        left:0;
                        top:1px;
                    }
                }
            }
            &.location {
                .info_of_program_content_item_content_title {
                    font-weight:500;
                    color:var(--color-neutral-200);

                }
            }
            &.notice {
                .info_of_program_content_item_content {
                    padding: 16px 12px;
                    background-color:var(--color-neutral-800);
                    color:var(--color-neutral-300);
                    border-radius:8px;
                    font-size:14px;
                    line-height:26px;
                    font-weight:500;
                    margin-bottom:0;
                    border-bottom:none;
                }
            }
            &.inquiry {
                .info_of_program_content_item_content {
                    color:var(--color-neutral-300);
                    font-size:12px;
                    line-height:20px;
                    font-weight:400;
                }
            }
        }
    }
    &.mobile {
        .info_of_program_inner {
            width:100%;
            border-radius:16px 16px 0 0;
            padding:0;
            top:auto;
            bottom:0;
            transform:translate(-50%, 0);
            .info_of_program_content_item {
                .info_of_program_content_item_content {
                    max-height:240px;
                    overflow-y:auto;
                }
            }
            .info_of_program_title {
                padding:16px 20px;
            }
            .info_of_program_content {
                padding:0 20px;
            }
        }
    }
}