.review {
    .review_item {
        display:flex;
        flex-direction: row;
        margin-bottom:48px;
        .star {
            width:93px;
            height:80px;
            padding-bottom:27px;
            background-repeat: no-repeat;
            background-size:80px 80px;
            background-position:center top;
            margin-right:24px;
            position: relative;
            &::before {
                content:'';
                display:block;
                width:93px;
                height:19px;
                background-repeat: no-repeat;
                background-size:100%;
                background-position: center;
                position:absolute;
                left:0;
                bottom:0;
            }
            &.img_0 {
                background-image:url('/assets/images/icon/ico_review0.png');
                &::before {
                    background-image:url('/assets/images/icon/ico_review0_star.png');
                }
            }
            &.img_1 {
                background-image:url('/assets/images/icon/ico_review1.png');
                &::before {
                    background-image:url('/assets/images/icon/ico_review1_star.png');
                }
            }
            &.img_2 {
                background-image:url('/assets/images/icon/ico_review2.png');
                &::before {
                    background-image:url('/assets/images/icon/ico_review2_star.png');
                }
            }
            &.img_3 {
                background-image:url('/assets/images/icon/ico_review3.png');
                &::before {
                    background-image:url('/assets/images/icon/ico_review3_star.png');
                }
            }
            &.img_4 {
                background-image:url('/assets/images/icon/ico_review4.png');
                &::before {
                    background-image:url('/assets/images/icon/ico_review4_star.png');
                }
            }
            &.img_5 {
                background-image:url('/assets/images/icon/ico_review5.png');
                &::before {
                    background-image:url('/assets/images/icon/ico_review5_star.png');
                }
            }
        }
        .txt {
            flex:1;
            .desc_intro {
                display:flex;
                flex-direction: row;
                justify-content: flex-start;
                padding-bottom:0;
                margin-bottom:8px;
                .username {
                    font-family: 'Pretendard';
                    font-weight:600;
                    font-size:14px;
                    line-height:20px;
                    vertical-align: middle;
                    position:relative;
                    padding-right:16px;
                    &::before {
                        content:'';
                        display:block;
                        width:1px;
                        height:16px;
                        background-color:var(--color-neutral-600);
                        position:absolute;
                        right:8px;
                        top:2p;
                    }
                }
                .date {
                    font-family: 'Pretendard';
                    font-weight:400;
                    font-size:12px;
                    line-height:20px;
                    color: var(--color-neutral-400);
                    vertical-align: middle;
                }
            }
            .desc {
                width:100%;
                box-sizing: border-box;
                padding:20px;
                border-radius:16px;
                background-color: var(--color-neutral-800);
                .contents {
                    font-size:16px;
                    line-height:24px;
                    margin-bottom:12px;
                }
                .program {
                    font-family: 'Montserrat';
                    font-weight:700;
                    font-size:16px;
                }
            }
        }
    }
    .btn.more {
        font-family: 'Pretendard';
        font-weight:700;
        font-size:18px;
        border:1px solid var(--color-neutral-600);
        padding:16px;
        text-align:center;
    }
}