:root {
  --color-primary-100: #E3F2FF;
  --color-primary-200: #BCDEFF;
  --color-primary-300: #7EB2FF;
  --color-primary-400: #4B88FF;
  --color-primary-500: #377BFF;
  --color-primary-600: #0A5DFF;

  --color-secondary-100: #FFE3FF;
  --color-secondary-200: #FEB7FE;
  --color-secondary-300: #FE80FE;
  --color-secondary-400: #FC52FF;
  --color-secondary-500: #D63DE7;
  --color-secondary-600: #A500E6;
  --color-secondary-700: #7600DE;

  --color-neutral-000: #000000;
  --color-neutral-100: #111111;
  --color-neutral-200: #424242;
  --color-neutral-300: #666666;
  --color-neutral-400: #888888;
  --color-neutral-500: #A5A5A5;
  --color-neutral-600: #DDDDDD;
  --color-neutral-700: #F4F4F4;
  --color-neutral-800: #FAFAFA;
  --color-neutral-900: #FFFFFF;
  
  --color-red: #F34949;
  --color-red2: #E82222;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-Light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-Black.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-ExtraLight.woff') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
}
*, html, body, div, p , input, button, a, span, header, footer, aside {margin:0; padding:0;}
body {
  box-sizing:border-box;
}
body, h1, h2, h3, h4, h5, h6, input, textarea, div, span, i, section, article, aside, p, header, nav, footer, button {
  font-family:'Pretendard';
}
ul li {list-style:none;}
a {text-decoration:none;}
button {background:none; border:none; cursor:pointer;}

/* margin */
.ml10 {
  margin-left:10px;
}
.mr10 {
  margin-right:10px;
}
.mt10 {
  margin-top:10px;
}
.mb10 {
  margin-bottom:10px;
}
/* padding */
.pl10 {
  padding-left:10px;
}
.pr10 {
  padding-right:10px;
}
.pt10 {
  padding-top:10px;
}
.pb10 {
  padding-bottom:10px;
}


/* page */
.wrapper {
  width:100%;
  margin:0 auto;
  padding-top:104px;
}

.ellipsis {
  display: block;
  width:100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}

.text_red2 {
  color: var(--color-red2);
}

.ico {
  font-size:16px;
  position:relative;
  padding-right:32px;
  &::before {
      content:'';
      display:block;
      width:32px;
      height:32px;
      background-repeat:no-repeat;
      background-position:center;
      background-size:100%;
      position:absolute;
      right:0;
      top:0;
  }

  &.all {
      &::before {
        width:24px;
        height:24px;
        background-image:url('/assets/images/icon/ico_right_circle_arrow.png');
        top: 50%;
        transform: translateY(-50%);
      }
  }
  &.heart.gray_line {
      &::before {
        background-image:url('/assets/images/btn/btn_heart_gray_line.png');
      }
  }
  &.heart.red {
      &::before {
        background-image:url('/assets/images/btn/btn_heart.png');
      }
  }
  &.thumb {
      &::before {
          background-image:url('/assets/images/icon/ico_thumb.png');
      }
  }
  &.gift_heart {
      &::before {
          background-image:url('/assets/images/icon/ico_gift_heart.png');
      }
  }
  &.starring {
      &::before {
          background-image:url('/assets/images/icon/ico_starring.png');
      }
  }
  &.trophy {
    &::before {
      background-image:url('/assets/images/icon/ico_trophy.png');
    }
  }
  &.protection {
    &::before {
      background-image:url('/assets/images/icon/ico_protection.png');
    }
  }
  &.memories {
    &::before {
      background-image:url('/assets/images/icon/ico_memories.png');
    }
  }
  &.support {
    &::before {
      background-image:url('/assets/images/icon/ico_support.png');
    }
  }
  &.user {
    &::before {
      background-image:url('/assets/images/icon/ico_user.png');
    }
  }
  &.lock {
    &::before {
      background-image:url('/assets/images/icon/ico_lock.png');
    }
  }
  &.location.gray {
    &::before {
      background-image:url('/assets/images/icon/ico_location_gray.png');
    }
  }
  &.arrow_right.blue {
    &::before {
      width:8px;
      height:16px;
      top:2px;
      background-image:url('/assets/images/icon/ico_arrow_right_blue.png');
    }
  }
  &.arrow_bottom.gray {
    &::before {
      width:24px;
      height:24px;
      background-image:url('/assets/images/icon/ico_arrow_bottom_gray.png');
    }
  }
  &.info {
    padding-right:0;
    padding-left:24px;
    &::before {
      width:20px;
      height:20px;
      background-image:url('/assets/images/icon/ico_info.png');
      right:auto;
      left:0;
    }
  }
  &.checkbox {
    padding-right:0;
    padding-left:32px;
    &.default::before {
      width:24px;
      height:24px;
      background-image:url('/assets/images/icon/ico_check_default.png');
      right:auto;
      left:0;
    }
    &.checked::before {
      width:24px;
      height:24px;
      background-image:url('/assets/images/icon/ico_check_checked.png');
      right:auto;
      left:0;
    }
    &.square {
      &.default::before {
        background-image:url('/assets/images/icon/ico_check_default_square.png');
      }
      &.checked::before {
        background-image:url('/assets/images/icon/ico_check_checked_square.png');
      }
    }
  }
  &.calendar {
    padding-left:28px;
    padding-right:0;
    &::before {
      width:20px;
      height:20px;
      background-image:url('/assets/images/icon/ico_calendar.png');
      left:0;
      top:0;
      right:auto;
    }
  }
  &.kakao, &.facebook, &.copylink {
    padding-right:0;
    padding-top:48px;
    text-align: center;
    &::before {
      width:40px;
      height:40px;
      right:auto;
      left:50%;
      transform:translateX(-50%);
    }
  }
  &.kakao::before {
    background-image:url('/assets/images/icon/ico_kakao.png');
  }
  &.facebook::before {
    background-image:url('/assets/images/icon/ico_facebook.png');
  }
  &.copylink::before {
    background-image:url('/assets/images/icon/ico_copylink.png');
  }
}

// badge
.approve_status {
  display:inline-block;
  font-family:'Pretendard';
  padding:4px 8px;
  border-radius:8px;
  font-size:14px;
  line-height:20px;
  text-align:center;
  font-weight:500;
  &.ask, &.request {
      background-color:#FFFBFB;
      color:#EF7777;
  }
  &.upcoming {
      background-color:#F4FFF9;
      color:#57B88C;
  }
  &.attended, &.completed {
      background-color:#F1F9FF;
      color:var(--color-primary-400);
  }
  &.canceled {
      background-color:var(--color-neutral-700);
      color:var(--color-neutral-400);
  }
}

// tab
.tab {
  ul {
    display:flex;
    flex-direction: row;
    li {
      box-sizing: border-box;
      font-family:'Pretendard';
      &.selected {
        font-weight:700;
      }
    }
  }
  // tab - 까만 원형
  &.rounded {
    ul {
        li {
            padding: 8px 12px;
            border: 1px solid var(--color-neutral-600);
            font-weight:400;
            font-size:14px;
            line-height:22px;
            border-radius:100px;
            margin-right:8px;
            color:var(--color-neutral-200);
            cursor:pointer;
            &.selected {
              background-color:var(--color-neutral-200);
              color:#fff;
            }
        }
    }
  }

  // tab - 아래 파란 바
  &.bar {
    border-bottom:1px solid var(--color-neutral-600);
    ul {
        li {
            text-align: center;
            font-size:18px;
            line-height:27px;
            padding:0 16px;
            color: var(--color-neutral-100);
            cursor:pointer;
            &:first-child {
                width:100px;
                text-align:left;
                padding-left:0;
            }
            &.selected {
                .tab_sort {
                    position:relative;
                    padding-bottom:8px;
                    &::before {
                        content:'';
                        width:100%;
                        height:3px;
                        background-color:var(--color-primary-500);
                        position:absolute;
                        left:0;
                        bottom:0;
                    }
                }
            }
        }
    }
  }

}

.paging {
  ul {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    li {
      width:42px;
      text-align:center;
      font-family: 'Pretendard';
      font-weight:700;
      line-height:20px;
      padding:10px 0;
      cursor:pointer;
      &.selected {
        color:var(--color-primary-400);
      }
      &:first-child, &:last-child {
        button {
          margin-top:2px;
          vertical-align:top;
          cursor:pointer;
        }
        &.disabled {
          opacity:0.2;
          cursor:default;
        }
      }
      &:first-child {
        margin-right:8px;
      }
      &:last-child {
        margin-left:8px;
      }
    }
  }
}
.select_wrap {
  border:1px solid #ddd;
  border-radius:8px;
  position:relative;
  .select_text_wrap {
    line-height:24px;
    padding: 12px 12px 12px 16px;
    font-size:14px;
    cursor:pointer;
    .ico.arrow_bottom {
      font-size:100%;
      &.default {
        color:var(--color-neutral-500);
      }
      &.selected {
        color:var(--color-neutral-200);
      }
    }
  }
  .select_options {
    width:100%;
    box-sizing: border-box;
    background-color:#fff;
    border-radius:16px;
    box-shadow: 0px 0px 20px 0px #B7B7B726;
    padding:12px;
    position:absolute;
    left:0;
    top:56px;
    z-index:10;
    ul {
      display:flex;
      flex-direction: column;
      li {
        flex:1;
        cursor:pointer;
        color:#333;
        font-size:14px;
        line-height:22px;
        padding:8px;
      }
    }
  }
}
.input_textbox {
  border:1px solid #ddd;
  border-radius:8px;
  padding:16px;
  &:focus {
    border-color:var(--color-primary-500);
    outline: 1px solid var(--color-primary-500);
  }
}
.input_checkbox {
  display:flex;
  flex-direction: row;
  align-items: center;
  input {
    width:0;
    height:0;
    display:none;
    overflow:hidden;
  }
  .ico.checkbox {
    &::before {
      width:20px;
      height:20px;
    }
  }
  .text {
    display:inline-block;
    line-height:24px;
    color:var(--color-neutral-300);
  }
}